# Web & Server
Flask==3.0.2
Flask-SocketIO==5.3.6
gunicorn==21.2.0

# System & Monitoring
psutil==6.1.0

# Telegram & Bot Frameworks
python-telegram-bot==21.1.1
telethon==1.36.0
pyrogram==2.0.106
tgcrypto==1.2.5

# Networking & Async
aiohttp==3.11.11
httpx==0.28.1
requests==2.31.0
beautifulsoup4==4.12.3

# Data & Database
sqlparse==0.4.4
pymongo==4.6.1
redis==5.0.1

# Utility
python-dotenv==1.0.0
colorama==0.4.6
pytz==2023.3.post1
